{% extends 'base_layout.html' %}

{% block content %}
<div class="furniture-detail">
  <div class="furniture">
    <h2>Nume: {{ furniture.name }}</h2>
    <p>Descriere: {{ furniture.description }}</p>
    <p>Pret vechi: {{ furniture.oldPrice }}</p>
    <p>Pret nou: {{ furniture.newPrice }}</p>
    <p>Tip reducere: {{ furniture.saleType }}</p>
    <p>Cantitate disponibila: {{ furniture.quantity }}</p>
    <img src="{{ furniture.thumb.url }}" width="20%"/>
    <form class="order-form" action="{% url 'orders:add_order' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="product" value={{ furniture.slug }}>
      <input type="submit" value="Add Order">
    </form>
  </div>
</div>
{% endblock %}
